<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>哈工大数据集团数据市场</title>
<meta name="keywords" content="哈工大数据集团数据市场" />
<meta name="description" content="哈工大数据集团数据市场" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
<link type="text/css" href="/static/css/style10.css" rel="stylesheet" />
<link type="text/css" href="/static/css/common.css" rel="stylesheet" />
<link type="text/css" href="/static/css/data-market.css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/jquery-1.2.6.pack.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script> 
<!--解决 IE6 背景缓存-->
<!--[if IE 6]><script type="text/javascript">document.execCommand("BackgroundImageCache", false, true);</script><![endif]-->
</head>

<body>

<div class="container header">
	<a class="logo" title="哈工大数据集团数据市场" href="index.html"><img src="/static/img/logo.png" width="405" height="60" alt="哈工大数据集团数据市场" /></a>
	<a class="addcollect" onclick="window.external.addFavorite(location.href,document.title)" rel="sidebar"  href="javascript:void(0);">加入收藏</a><a class="sethome" href="javascript:void(0);" id="setHomePage" onclick="SetHome(this)" style="behavior:url(#default#homepage);">设为首页</a>
	<script type="text/javascript" src="js/function.js"></script>
	<div class="clear"></div>
	<div class="navbox">
		<span class="arbg arrowleft"></span>
		<span class="arbg arrowright"></span>
		<ul>
			<li><a href="index.html">官网首页</a></li>
			<li><a href="about.html">关于我们</a></li>
			<li><a href="news.html">新闻中心</a></li>
			<li><a href="product.html">数据中心</a></li>
			<li><a href="project.html">数据交易方案</a></li>
			<li><a href="contact.html">联系我们</a></li>
		</ul>
	</div>
</div><!--header end-->

<div class="container content">
<div class="data-market-module">
<div class="detail-css">
<div class="ists-all"></div>
    <div class="content-all">

        <div class="course-info" id="courseInfo">
            <div class="contt-left">
                <a class="contt-imgs">
                    <img class="codeat-imgt"  src="/media/{{ data.picture }}" />
                </a>
            </div>
            <div class="contt-mide">
                <div class="tit-boxing">
                    <a class="hrf-chagev">
                        <span class="worsa-tit">{{ data.dataname }}</span>
                    </a>
                </div>
                <div class="second-tits">
                    <span class="words-prices">优惠价格：</span>
                    <span class="foitsa-picta">￥</span>
                    <span class="foitsb-money">{{ data.price }}</span>
                </div>
                <div class="contta-clasa">
                    <span class="clasa-lefts spaca-lefts">数据大小：</span>
                    <span class="clasa-trade">{{ data.file_scale }}</span>
                    <span class="clasa-leftsexc">数据格式：</span>
                    <span class="clasa-trade">文本</span>

                </div>
                <div class="conttb-thirds">
                    <span class="blockf-overs">标签：</span>
                    <span class="thirds-know">生活服务</span>
                    <span class="foitse-pictc">上架时间：</span>
                    <span class="foitsf-many">{{ data.post_time }}</span>					
				</div>					
				<div class="itstbot-tons">	
					{%if set == 0%}
					<a id = 'set11' class="worsc-bot buyin-go" authr="35084" authorfromtype="-1" soceid="1315bb33226511e6a2ec9c37f40beb8e" onclick = "buydata({{data.id}})">立即购买</a>
					{%else %}
					<a class="worsc-bot buyin-go" >已购买</a>
					{%endif%}
					<a class="worsc-bot buyin-go" id = 'set22' style = "display:none">已购买</a>
				</div>
			</div>
		</div>
        <div class="content-center">
            <div class="course-content">
                <div class="course-desc">
                    <div class="title">
                        <div class="name">数据介绍</div>
                    </div>
                    <div class="desc" id="contwors"><p>{{ data.introduce }}</p></div>
                </div>
				<div class="previe-div">
                    <div class="title">
						<div class="name">示例数据预览</div>
                    </div>
					<div class="previe-contsall">
						<table cellspacing="0">
							<thead>
								<tr class="detail-headers"><th>锅炉房代码</th><th>锅炉房名称</th><th>所在区县</th><th>街道</th><th>锅炉房地址</th><th>锅炉房性质</th><th>分类</th><th>数值</th><th>单位</th><th>供热能耗类型</th><th>单位名称</th></tr>
							</thead>
							<tbody class="detail-contents"><tr><td>110105005054G001</td><td>左家庄燃气锅炉房</td><td>朝阳区</td><td>左家庄</td><td>朝阳区左家庄甲12号</td><td>自供</td><td>供热面积</td><td>6700</td><td>平方米</td><td>天然气</td><td>北京喜来达物业管理有限公司</td></tr><tr><td>110105035MMMG003</td><td>周井锅炉房</td><td>朝阳区</td><td>管庄</td><td>朝阳区管庄周家井院</td><td>自供</td><td>电直燃机锅炉装机容量</td><td>null</td><td>kw</td><td>天然气</td><td>北京瑞康服务有限公司</td></tr></tbody>
						</table>
					</div>
                    <div class="previes-cont" id="contwors"></div>
                </div>

            </div>
        </div>
    </div>
	<div class="botom-disc" id="payfors"></div>
</div>
</div>
</div>

<!-- logo end -->
<script>require(["shouye/headera"])</script>
<!-- navs -->

<!-- navs end -->







<div class="container footer">
	<div class="quicknav"><a href="terms.html">使用条款</a><span>|</span><a href="statement.html">隐私权声明</a><span>|</span><a href="pledge.html">服务承诺</a><span>|</span><a href="contact.html">联系我们</a><span>|</span><a href="#">企业邮箱</a></div>
	<div class="copyright">Copyright © 哈工大数据集团数据市场. All Rights Reserved.<span>|</span>版权所有 哈工大数据集团<span></div>
</div><!--footer end-->
<script type="text/javascript">
	function buydata(event)
	{
		var post_data ={
			"dataid":event,
			};
		$.ajax({
			type : "POST", //要插入数据，所以是POST协议 
			url : "/data/buydata/", //注意结尾的斜线，否则会出现500错误
			traditional:true,  //加上此项可以传数组
			data : post_data, //JSON数据
			success: function(mydata){
				document.getElementById("set11").style.display="none";//隐藏
				document.getElementById("set22").style.display="";
				
			}
		});
	}
</script>
</body>
</html>