<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title></title>
</head>
<body>
	<form method='POST' action='/login/'>
	  <fieldset>
		    <legend>h</legend>
		    <p>用户名：<input type="text" name='username' /> </p>
		    <p>密码：<input type="text" name='pwd'/> </p>
		    <p>验证码：<input type="text" name='checkcode'/> <img  onclick='ChangeCode();' id='imgCode' src='/checkcode/' title='点击更新' /></p>
	  </fieldset>
	</form>
	
	<script type="text/javascript">
    
	    function ChangeCode() {
            var code = document.getElementById('imgCode');
            code.src += '?';
        }
    </script>
</body>
</html>
