<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>哈工大数据集团数据市场</title>
<meta name="keywords" content="哈工大数据集团数据市场" />
<meta name="description" content="哈工大数据集团数据市场" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
<link type="text/css" href="/static/css/style10.css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/jquery-1.2.6.pack.js"></script>
<!--解决 IE6 背景缓存-->
<!--[if IE 6]><script type="text/javascript">document.execCommand("BackgroundImageCache", false, true);</script><![endif]-->
</head>

<body>

<div class="container header">
	<a class="logo" title="哈工大数据集团数据市场" href="index.html"><img src="/static/img/logo.png" width="405" height="60" alt="哈工大数据集团数据市场" /></a>
	<a class="addcollect" onclick="window.external.addFavorite(location.href,document.title)" rel="sidebar"  href="javascript:void(0);">加入收藏</a><a class="sethome" href="javascript:void(0);" id="setHomePage" onclick="SetHome(this)" style="behavior:url(#default#homepage);">设为首页</a>
	<script type="text/javascript" src="js/function.js"></script>
	<div class="clear"></div>
	<div class="navbox">
		<span class="arbg arrowleft"></span>
		<span class="arbg arrowright"></span>
		<ul>
			<li><a href="index.html">官网首页</a></li>
			<li><a href="about.html">关于我们</a></li>
			<li><a href="news.html">新闻中心</a></li>
			<li><a href="product.html">数据中心</a></li>
			<li><a href="project.html">数据交易方案</a></li>
			<li><a href="service.html">交易服务</a></li>
			<li><a href="case.html">交易案例</a></li>
			<li><a href="contact.html">联系我们</a></li>
		</ul>
	</div>
</div><!--header end-->

<div class="container content">

	<div class="picbox"><img src="images/about-pic.jpg" width="1000" height="157" /></div>
	
	<div class="pubox">
		<div class="pubtit"><h2 class="f-l">关于我们</h2><div class="f-r breadcrumbs"><a href="#">关于我们</a><span>></span>集团及数据市场概况</div></div>
		<div class="about">
			<ul class="f-l about-sort">
				<li><a href="about.html">集团及数据市场概况</a></li>
				<li><a href="zhengshu.html">资质证书</a></li>
				<li><a href="chanquan.html">知识产权</a></li>
				<li><a href="rongyu.html">获得荣誉</a></li>
			</ul>
			<div class="f-r about-con">
				<h3>集团概况：</h3>
				<p> 哈工大大数据集团（以下简称大数据集团）是由哈工大机器人集团、中科招商集团、哈尔滨经济开发区共同投资建立而成，是国内领先的大数据高新科技企业。公司坚持以“服务国家战略、切合市场需求、汇聚各类人才、促进科技发展、推动社会进步”为使命，通过“技术-投资”战略驱动，构建完整的大数据生态链。自筹建以来，得到了黑龙江省政府、哈尔滨市政府等各级政府的大力支持和协助。       大数据集团拥有强劲的技术研发实力和人才优势。公司经营团队中不仅有哈工大等国内名校毕业的高学历人才，而且有斯坦福大学、伯克利大学等国外顶尖学府并拥有相关领域经验的高端人才。依托哈工大计算机学院和管理学院，大数据集团在数据采集、数据清洗、数据统计分析、数据挖掘、数据可视化、数据安全、数据运营以及、机器人智能维护、机器人优化设计和工业自动化在线诊断等方面，具有一流的全产业链高端研发团队。<br /><br /></p>
				<h3>数据市场：</h3>
				<p> 目前，大数据交易已经成为大数据领域的热点，成为大数据的重要盈利模式之一，除此而外，还可以起到搜集数据的作用，建立公有云，对基于大数据的各项应用提供支撑。<br /><br /></p>
				<h3>目的意义：</h3>
				<p>(1) 形成大数据市场，通过获取的数据和用户置换搜集数据，为各种应用和进一步的数据销售和置换积累数据，为公司累计各种数据资源，形成具有哈工大大数据集团特色的数据资源，提高集团在整个大数据产业内的地位。</p>
                                <p>(2) 在形成一定规模的数据资源之后，经过HDip平台的的清洗和加工等增值服务，可以对外提供数据集合，进行销售。由于当前国内大数据交易行业刚刚形成，但是缺乏高质量的数据集合，故本项目形成的数据集合可以形成营收。</p>
                                <p>(3) 通过积累的数据本身以及从积累的数据中提取知识库，从而有效为各分、子公司的项目和产品提供支持。目前很多项目的谈判和申请都需要有数据集和知识库的支持，如果有成规模的数据和知识库，可以在项目谈判申请过程中形成明确的优势。数据集和知识库是大数据产品研发的基础，因而本项目形成的数据集和知识库可以为更高质量的大数据产品提供有力的保障。
                                <p>(4) 本项目的成果形成大数据交易市场的原型，单独销售，由于当前各地对大数据交易市场的需求量比较大，故本项目形成的原型有明确的市场，可以形成营收。<br /><br /></p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
</div><!--content end-->


<div class="container footer">
	<div class="quicknav"><a href="terms.html">使用条款</a><span>|</span><a href="statement.html">隐私权声明</a><span>|</span><a href="pledge.html">服务承诺</a><span>|</span><a href="contact.html">联系我们</a><span>|</span><a href="#">企业邮箱</a></div>
	<div class="copyright">Copyright © 哈工大数据集团数据市场. All Rights Reserved.<span>|</span>版权所有 哈工大数据集团<span></div>
</div><!--footer end-->

</body>
</html>