<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="/static/js/jquery.min.js"></script>
	<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/froala_editor.min.css" rel="stylesheet" type="text/css">
	<link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet" />

	<link rel="stylesheet" type="text/css" href="/static/my_uEditor/third-party/SyntaxHighlighter/shCoreDefault.css">
	<script type="text/javascript" src="/static/my_uEditor/third-party/SyntaxHighlighter/shCore.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/my_uEditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/my_uEditor/ueditor.all.min.js"> </script>
	<script type="text/javascript" charset="utf-8" src="/static/my_uEditor/lang/zh-cn/zh-cn.js"></script>
	<style>
		body {
			text-align: center;
		}

		section {
			width: 80%;
			margin: auto;
			text-align: left;
		}
	</style>
	<script>$(document).ready(function(c) {
		$('.cls-con').on('click', function(c){
			$('.contact').fadeOut('slow', function(c){
				$('.contact').remove();
			});
		});	  
	});
	var ue = UE.getEditor('editor');
	SyntaxHighlighter.all();
</script>
</head>

<body>
	<a class="sethome" href="/Adminmain/"  style="float:right;padding-right:2%">返回首页</a>
	<!--header start here-->
	<div class="header agile">
		<div class="wrap" style = "width:100%">
			<div class="contact">
				<div class="contact-head">
					<h1>撰写新闻</h1>
					<div class="clear"> </div>
				</div>
				<form action="#" method="post" >
					{% csrf_token %}
					<div style = " width: 90%;height: 50px; padding-left: 13%;padding-top: 1%;">
						<input type="text" class="form-control" placeholder="标题" id="title" style = "width: 23%;float: left;" require =''>
						<input type="text" class="form-control" placeholder="日期" id="date" style = "width: 23%;float: left;margin-left: 2%;" >
						<input type="text" class="form-control" placeholder="类别" id="type" style = "width: 23%;float: left;margin-left: 2%;" >
						<input type="text" class="form-control"  placeholder="作者" id="author" style = "width: 23%;float: left;margin-left: 2%;" >
					</div>
					<br></br>
					<script id="editor" type="text/plain" style="width:auto;height:500px;"></script>
					<input type="button"  class="btn btn-primary" onClick = "copyText()" value="提交" />
				</form>
			</div>
		</div>
	</div>

	<script src="/static/js/froala_editor.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../js/froala_editor_ie8.min.js"></script>
    <![endif]-->
    <script src="/static/js/plugins/tables.min.js"></script>
    <script src="/static/js/plugins/lists.min.js"></script>
    <script src="/static/js/plugins/colors.min.js"></script>
    <script src="/static/js/plugins/font_family.min.js"></script>
    <script src="/static/js/plugins/font_size.min.js"></script>
    <script src="/static/js/plugins/block_styles.min.js"></script>
    <script src="/static/js/plugins/media_manager.min.js"></script>
    <script src="/static/js/plugins/video.min.js"></script>

    <script>
    	$(function(){
    		$('#edit').editable({
    			inlineMode: false,
    			height:'500px',
    			imageUploadURL:'/froala_editor'
    		})
    	});
    	function copyText()
    	{
    		if(document.getElementById("title").value != '' && document.getElementById("type").value != '' && $(".froala-element").html()!= '')
    		{
    			var post_data ={
    				"content":UE.getEditor('editor').getContent(),
    				'title':document.getElementById("title").value,
    				'date':document.getElementById("date").value,
    				'type':document.getElementById("type").value,
    				'author':document.getElementById("author").value
    			};
    			$.ajax({
			type : "POST", //要插入数据，所以是POST协议 
			url : "/savenews/", //注意结尾的斜线，否则会出现500错误
			traditional:true,  //加上此项可以传数组
			data : post_data, //JSON数据
			success: function(mydata){
				alert("新闻发布成功！");
				window.location.href="/Adminmain/"
			},
		});
    		}
    		else
    		{
    			alert("信息不完整")
    		}
    		
    	}

    </script>
</body>
</html>
